.landing-page{
 
  height:100vh;
  width:100%;
  background-color:rgb(244, 244, 244);
  margin:0;
 
 

}

.landing-page h1{
  margin:0;
  text-align:center;
}

body
{
  margin:0;
  padding:0;
 

}

.flexbox-container{

  display:flex;


  background-color:orange;


  
}

.flexbox-item{
  width:200px;
  margin:10px;
  border:3px solid #333;
  background-color:rgb(206, 231, 231);
  order: 3;
  

}

.flexbox-item-1{
  min-height:100px;
  align-self:flex-end;

}
.flexbox-item-2{
  min-height:200px;
  flex-grow:2;
  align-self:center;
  order:1;
}
.flexbox-item-3{
  min-height:300px;
  flex-grow:1;
  order:2;
}

body{background-color:rgb(183, 212, 237);}