body.index{
    background-color: #666666;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
h1 {
    color: #000000;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.textBox{
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    text-align: center;
}